@media (max-width:1199px){
    .checks{
        margin: 0;
        padding: 0!important;
    }
    .checks ul{
        margin: 0;
        padding: 0;
    }
}

html {
    height: 99%;
}

ul{
   list-style:none;
}

.hidden{
    display:none;
}
 /*
.mustHidden{
    display:none!important;
}
   */
#header{
    height: 36px;
}

.navbar,#navbar-to-collapse{
    height:35px!important;
    min-height:35px!important;
}

.head_div{
    padding:0 0 0 20px;
}

.head_div label {
    display: inline;
    height: 35px;
    font-family: 'Droid Sans', Helvetica, Arial, "sans-serif";
    font-size:24px;
    color:white;
    font-weight: 100;
}

#gama_head{
    float: left;
}

#opciones_head{
    float: right;
}

#opciones_head .dropdown-toggle{
    color:#ffffff;
    cursor:pointer;
}

#opciones_head .dropdown-menu{
    left: auto;
    top:28px;
}

#usuario_head{
    float: right;
}

#rol_head{
    float: left;
}

.divider-vertical{
    float: right;
    margin-left: 20px!important;
    height: 35px!important;
}

#message{
    position: fixed;
    height: 0;
    width: 100%;
    z-index: 9999999999;
    top: 36px;
    padding-left: 38px;
}

.message{
    height: 0;
    overflow: hidden;
}

.message_good{
    background: #72b110;
}

.message_info{
    background: #428bca;
}

.message_warning{
    background: #F88C00;
}

.message_error{
    background: #BB2D28;
}

.message span{
    line-height: 43px;
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
}

.message span i{
    line-height: 48px;
    font-style: normal;
}

.message span label{
    font-weight: 100;
    font-family: "calibri";
}



#content .wrapper .crumb{
    margin-top: 5px;
}

.nav.nav-list li a{
    width:36px;
    height:38px;
}

li a.selected_section .icon{
    color:white!important;
    background:#62aeef;
}

#shadow_black{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#000000;
    opacity:0.7;
    z-index: 99999;
}

#shadow_white{
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    text-align: center;
    border: dotted rgb(182, 181, 181) 5px;
    border-radius: 400px;
    -moz-border-radius: 400px;
    -webkit-border-radius: 400px;
    margin-left: -200px;
    background: white;
    width: 400px;
    height: 400px;
    padding: 50px 0 0 0;
    behavior: url("main/PIE.htc");
}

#shadow_white label{
    font-size: 55px;
    font-weight: 100;
}

#shadow_white label:first-child{

}

#shadow_white span{
    font-size: 70px;
    margin: 10px 0 -2px 0;
    font-weight:100!important;
    display:block;
}

#confirmar{
    position: absolute;
    display: block;
    width: 215px;
    z-index: 999999;
    display:none;
    margin-bottom: 50px;
}

#confirmar .panel-body>span{
    display: block;
}

#confirmar .panel-body span span{
    color:red;
}

#prompt_message{
    color:red;
    margin-bottom:20px;
}

#footer_btn{
    width: 100%;
    text-align: center;
}

#connection{
    position: absolute;
    width: 300px;
    height: 410px;
    top: 50%;
    left: 50%;
    z-index: 99999999;
    margin-top: -205px;
    margin-left: -150px;
    display:none;
}

#connection h4{
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
#connection span {
    width: 100%;
    text-align: center;
    display: block;
}

#connection label{
    line-height: 200px;
}

#connection .panel-body div{
    text-align: center;
    width:100%;
    height:200px;
}
#connection .panel-body div img {
    display: inline;
    margin-left:-4px;
}



#connection_text {
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px 0 0 0;
    font-size: 24px;
    font-weight: 800;
}

#footer_btn {
    position: absolute;
    bottom: 0;
}

#tryConnection{
    margin-bottom: 10px;
    width: 90%;
}

#sesion_div{
    position: absolute;
    width: 400px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -190px;
    z-index: 999999999;
    display:none;
}

#sesion_div iframe{
    width:100%;
    height:100%;
    border:none;
}

.not_link{
    color:black;
}

.not_link:hover{
    color:black;
}


#home{
    height: 500px;
    text-align: center;
}

#home span{
    font-size:70px;
}

#home label{
    font-weight:100;
}

#home img{
    width: 80px;
    margin-top: 50px;
}

table{
 width:100%;
}

.centrate{
    text-align:center!important;
}

.panel{
       margin-bottom:30px;
}

.panel .icon{
    width: auto!important;
    height: 36px!important;
    position: relative!important;
    float: none!important;
    padding: 0 15px!important;
    margin: 0!important;

}

.panel .icon i{
    margin: 0!important;
    padding: 0!important;
    line-height: 36px!important;
    color: white!important;
    font-style:normal!important;
    text-shadow: none!important;
}

.desactivados{
    background: #808080;
    border-color:#808080;
}

.crear{

}

.ver{

}

.desactivar{

}

.ver-relacion{
    background: #9B9B9B;
}


.panel .panel-heading .icon:after{
    width:auto!important;
}
.panel .panel-heading .icon:before {
    position:static;
}

#DataTables_Table_0_length label{
    display: block;
}

#DataTables_Table_0_length span{
    display: none;
}
#DataTables_Table_0_length div{
    display: inline;
}

.datatables input {
    margin: 0 0 0 5px!important;
    padding: 5px 15px 5px 15px!important;
}

tr:hover {
    background-color: rgb(231, 231, 231)!important;
}


#cliente_section .wizard-vertical .wizard-steps .wstep .donut{
    width: 100px!important;
    height: 100px!important;
    border-radius: 100px!important;
    padding: 0;
    margin: 20px 0 0 50px;
}

#cliente_section .step{
    min-height: 330px;
}


#cliente_section .wizard-vertical .wizard-steps .wstep:after {
    top: 150px;
    left: 100px;
    border-top: none;
    border-left: 2px solid #c9c9c9;
    height: 40px;
    width: 2px;
}

#articulo_section .wizard-vertical .wizard-steps .wstep .donut{
    width: 50px!important;
    height: 50px!important;
    border-radius: 100px!important;
    padding: 5px!important;
}

.wizard-vertical .wizard-steps .wstep {
    width: 100%;
}


.vertical_centrator .active .donut{
    border: solid #72b110 5px!important;
}

.vertical_centrator  .active i{
    color:#72b110!important;
}

.vertical_centrator  .active span{
    color:#72b110!important;
}

.green{
    color:#72b110!important;
}


.back{
    background:#6f7a8a;
    color:#ffffff;
    border:solid rgb(192, 192, 192) 1px;
}

.back i{
    display: block!important;
}

.back:hover{
    color:#ffffff;
}

.next:hover{
    color:#ffffff;
}

.next{
    background:#72b110;
    color:#ffffff;
    border:solid rgb(192, 192, 192) 1px;
}

.panel-body{
    position: relative;
    padding:15px;
    padding-bottom: 50px;
}

.wizard-vertical .wizard-steps .wstep .txt{
    font-size: 20px;
    text-align: center;
    width: 100%;
}

 .vertical_centrator{
     height: 330px;
     position: absolute;
     padding: 0;
     text-align: center;
     overflow: hidden;
}

 .wstep.active{
    margin-bottom:100px;
}

.wstep.active:after{
    height: 90px;
    top: 175px;
    left: 70px;
    border-top: none;
    border-left: 2px solid #c9c9c9;
}

.container_absolute{
    position: relative;
    overflow: visible;
    height: 300px!important;
}

.all_width{
    width: 100%;
}

.wizard .step{
     display:none;
}

.wizard .step.active{
    display:inline-block!important;
}

.form-group table{
    border: solid rgb(209, 209, 209) 1px;
}

.form-group table tr td:first-child{
    padding-left:15px;
}

.end i{
    display:none;
}

.end b{
    color:#ffffff;
}

#content_floating{
    background: white;
    position: fixed;
    z-index: 999999;
    display: none;
}

.floating_form{
    width: 400px;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    bottom: 1%;
    overflow: auto;
}

.floating_form .selector{
    width: 100%!important;
}

.floating_table {
    width: 90%;
    top: 10%;
    left: 5%;
    bottom: 1%;
    overflow: auto;
}

.floating_form #footer_submit{
    width:100%;
    margin: 40px 0 0 0;
    width: 100%;
    text-align: center;
}

.floating_table #footer_submit{
    width: 200px!important;
    margin: 40px 0 0 0;
    text-align: center;
    float: right;
}

.loading_control img{
    position:absolute;
    top:5px;
    left:25px;
    display: block!important;
}

.loading_img{
    display:none;
}

.panel .panel-heading h3{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    color: #777777;
    display: block;
    padding: 10px 0;
    width:100%;
}

label.form-control {
    height: 45px;
    cursor: pointer;
    overflow:auto;
}

#content_floating .panel-heading i{
    position: absolute;
    right:0;
    color:rgb(226, 52, 52);
    cursor:pointer;
}

.checks label{
    float: left;
    line-height: 0px;
    text-align: right!important;
    width: 110px;
}

.checks input{
    width: 35px;
    margin-left: 100px;
    margin-top: -10px;
}
.checks li{
    height: 50px;
    width: 120px;
    float: left;
    margin-right:20px;
}

.checks{
    padding-left: 150px;
}

#articulo_section .vertical_centrator {
    height: 360px;
}

#articulo_section .wizard-vertical .wizard-steps .wstep .txt {
    width: 140px;
    line-height: 50px;
    text-align:left;
}

#articulo_section .wizard-vertical .wizard-steps .wstep {
    margin-bottom: 18px;
}

#articulo_section .wizard-steps .wstep .donut i {
    margin-left: 0;
    margin-top: -4px;
}

#articulo_section .wizard-vertical .wizard-steps .wstep:after {
    height: 15px;
}

#articulo_section form{
    min-height: 400px;
}

.label_p label{
    width: 230px;
    text-align: right;
}

.label_p2 label{
    width: 283px;
    text-align: right;
}

.row_checkbox input{
    float: left;
    width: 35px;
}

#articulo_section .checks input {
    width: 35px;
    margin-left: 140px;
    margin-top: -10px;
}

#articulo_section .checks li{
    width: 192px;
}

#articulo_section .checks li label {
    width: 150px;
}

.ignore{
    display:none!important;
}

.panel-body #connection_cargando{
    margin: 0 auto;
    display: block;
}

.radios ul{

}

.radios li{
    height: 50px;
    width: 180px;
    float: left;
    margin-right: 20px;
}

.radios label{
    width: 100%;
    text-align: center!important;
    line-height: 28px;
    float: left;
}

.radios input{
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.inline-block{
    display:inline-block;
}

.all_check{
    width: 25px;
    display: inline;
    margin: 0;
    padding: 0;
    position: static;
    float: none;
}

input{
    box-shadow: none!important;
    box-shadow:none!important;
    -moz-box-shadow:none!important;
    -webkit-box-shadow:none!important;
}

.clon_floating .data_table input{
    width: 35px;
    float: none;
    display: inline;
    margin: -15px;
    position: static;
    height: 30px;
    margin-right: 0;
}

.float_left{
    float:left;
}

.i-minus-circle-2,.i-pencil-3{
    cursor: pointer;
}

.porcent::after{
    content:"%";
}

.configNotShow{
    display:none!important;
}

.other_button{
    position: absolute;
    top: -37px;
}

.other_button_two{
    left: 215px;
}

.other_button_tree{
    left: 475px;
}

#articulo_section.panel .panel-heading h4{
    padding:0!important;
}

#receta_ver{
    background:orange;
}

.other_button_four{
    left: 688px;
}

input:focus {
    outline: solid 1px #458DD5!important;
}

.tableRef{
    position: fixed;
    width: 700px;
    height: 400px;
    background: rgb(216, 216, 216);
    z-index: 999999999;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -200px;
}

.tableRef .panel-body{
    padding:0px;
    height:400px;
    overflow:auto;
}

.tableRef i {
    position: absolute;
    z-index: 9;
    right: 16px;
    color: black;
}


.title_color{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    background: rgb(26, 122, 211);
    color: white;
}

.tableUnits {
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
}

.viewRecord{
    width: 100px!important;
}

#chargindDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    z-index: 1;
    left: 0;
    right: 0;
}

#chargindDiv div{
    width: 300px;
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    top: 180px;
}

#chargindDiv div label{
 font-size: 50px;
}

#chargindDiv div img{
    display: block;
    margin: 0 auto;
}

#principal{
    position:relative;
}

.label_disabled{
    border: none;
    cursor:default!important;
    background: #EFEFEF!important;
}

#punto_section .wizard-vertical .wizard-steps .wstep .donut{
    width: 50px!important;
    height: 50px!important;
    border-radius: 100px!important;
    padding: 5px!important;
}

#punto_section .vertical_centrator {
    height: 360px;
}

#punto_section .wizard-vertical .wizard-steps .wstep .txt {
    width: 140px;
    line-height: 50px;
    text-align:left;
}

#punto_section .wizard-vertical .wizard-steps .wstep {
    margin-bottom: 18px;
}

#punto_section .wizard-steps .wstep .donut i {
    margin-left: 0;
    margin-top: -4px;
}

#punto_section .wizard-vertical .wizard-steps .wstep:after {
    height: 15px;
}

#punto_section.panel .panel-heading h4{
    padding:0!important;
}

#punto_section form{
    min-height: 400px;
}

#usuario_section .wizard-vertical .wizard-steps .wstep {
    margin:0;
    padding:0;
    margin-bottom: 32px;
}

#usuario_section .wizard-steps .wstep .donut{
    margin:0;
    padding:0;
    margin-left:38%;
}

#usuario_section .wizard-steps .wstep .donut i{
    margin-left: 5px;
    margin-top: 0px;
}

#usuario_section .wizard-vertical .wizard-steps .wstep:after {
    top: 80px;
    left:50%;
}

.centrator_radios {
    margin: 0 auto!important;
    padding-left: 50%!important;
}

.centrator_radios_child3{
    margin-left: -104%;
}

.centrator_radios_child2 {
    margin-left: -100%;
}

.receta_nombre{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.receta_nombre label{
    text-align: left!important;
    margin-left: 0;
    padding-left: 0;
}

.checks_cliente_li_2{
    width: 45%;
    float: left;
    text-align: center;
}

#check_receta_punto{
    border:none!important;
    outline:none !important;
}

#check_receta_canal{
    border:none!important;
    outline:none !important;
}

#check_empaque_punto{
    border:none!important;
    outline:none !important;
}

#check_receta_canal{
    border:none!important;
    outline:none !important;
}

#check_empaque_canal{
    border:none!important;
    outline:none !important;

}

#tax_all_ch{
    border:none!important;
    outline:none !important;
    float: left;
    width: 35px;
}

#rate_all_ch{
    border:none!important;
    outline:none !important;
    float: left;
    width: 35px;
}

.label_with_check{
    float: left;
    line-height: 40px;
}

.container_check_label{
    margin: 0 auto;
    width: 330px;
}

.container_check_label2{
    margin:0;
    margin-left:17%;
}

.container_radio_label li,.container_radio_label input{
    float:left;
}

.container_radio_label li{
    width: 280px;
}

.container_radio_label ul{
    margin:0;
}

.container_radio_label div{
    margin:0 auto;
    width:500px;
}

#imp_eq_ch{
    width: 35px;
    float: left;
}

.padding_li_check{
  padding-left: 17%;
}
